<div>
  <div class="overlay">
    <div class="homepage">
      <div class="homepagenav">
        <nav class="homepage_nav">
          <div class="homepage_nav_goHome">
            <a href="">buy<span>Tickets
              </span>
            </a>
          </div>
          <div class="homepage_nav_links">
            <ul>
              <li><a href="#">about</a></li>
              <li><a href="#">contact</a></li>
              <li><a href="#">buy ticket</a></li>
            </ul>
          </div>
        </nav>
      </div>
      <section class="homepage_movie">
        <div class="homepage_movie_details">
          <div class="homepage_movie_details_title">
            <h4>
              Spider-man <br>
              <span>
                Far From Home
              </span>
            </h4>
            <div class="homepage_movie_details_buy_tickets">
              <a href="#">
                buy tickets
              </a>
            </div>
          </div>
        </div>
        <div class="homepage_movie_img">
          <img src="../../../assets/spideyffh.png" alt="">
        </div>
      </section>
      <!-- <section class="about_movie">
        <div class="about_movie_details">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus ratione doloremque voluptatibus ullam natus, impedit numquam facere nemo odit suscipit. Ea impedit quod sed provident quo minima, accusamus dolores! Odio!
        </div>
        <div class="about_movie_details">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus ratione doloremque voluptatibus ullam natus, impedit numquam facere nemo odit suscipit. Ea impedit quod sed provident quo minima, accusamus dolores! Odio!
          </div>
      </section> -->
      <section class="pricing">
        <div class="pricing_area">
          <div class="pricing_plans">
              <h2>ticket plans</h2>
          </div>
        </div>
      </section>
      <section class="ticketing">
        <div class="tickets">
          <div class="ticket_prices">
            <div class="ticket_prices_section">
              <h2 class="heading">package one</h2>
              <span class="price">
                <span class="ticket_amount">N2,500</span>
              </span>
              <span class="per_movie">each movie</span>
              <h3 class="heading_2"> offer includes</h3>
              <ul>
                <li>Conference Seats</li>
                <li>Free Wifi</li>
                <li>Coffee Breaks</li>
                <li>Lunch</li>
                <li>Workshops</li>
                <li>One Speakers</li>
                <li>Papers</li>
              </ul>
              <a href="#">buy tickets</a>
            </div>
          </div>
        </div>
        <div class="tickets">
          <div class="ticket_prices">
            <div class="ticket_prices_section">
              <h2 class="heading">package one</h2>
              <span class="price">
                  <span class="ticket_amount">N2,500</span>
                </span>
              <span class="per_movie">each movie</span>
              <h3 class="heading_2"> offer includes</h3>
              <ul>
                <li>Conference Seats</li>
                <li>Free Wifi</li>
                <li>Coffee Breaks</li>
                <li>Lunch</li>
                <li>Workshops</li>
                <li>One Speakers</li>
                <li>Papers</li>
              </ul>
              <a href="#">buy tickets</a>
            </div>
          </div>
        </div>
        <div class="tickets">
          <div class="ticket_prices">
            <div class="ticket_prices_section">
              <h2 class="heading">package one</h2>
              <span class="price">
                  <span class="ticket_amount">N2,500</span>
                </span>
              <span class="per_movie">each movie</span>
              <h3 class="heading_2"> offer includes</h3>
              <ul>
                <li>Conference Seats</li>
                <li>Free Wifi</li>
                <li>Coffee Breaks</li>
                <li>Lunch</li>
                <li>Workshops</li>
                <li>One Speakers</li>
                <li>Papers</li>
              </ul>
              <a href="#">buy tickets</a>
            </div>
          </div>
        </div>
      </section>
      <section class="newsletter_subscription">
        <div class="newsletter_subscribe">
          <div class="newsletter_subscribe_contents">
            <div class="newsletter_details">
              <div class="newsletter_details_header">
                <h2>Subscribe to our Newsletter</h2>
                <div class="newsletter_form">
                  <form action="">
                    <div class="newletter_form_inputs">
                      <input type="text" class="subscribe_input" placeholder="enter email address">
                      <button class="subscribe_submit">Subscribe</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <footer class="footer">
        <div class="footer_container">
          <div class="footer_container_containers">
            <div class="footer_container_cols">
              <div class="footer-widget">
                <h2 class="footer_widget_heading">buyTickets</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic reiciendis laborum corporis pariatur ducimus iste doloremque enim ullam! Repellat consequuntur facilis inventore iure nisi ratione dolores id iusto, ea sequi?</p>
                <ul class="social_media">
                  <li>
                    <a href="#">
                      <i class="fab fa-twitter"></i>
                  </a>
                </li>
                <li>
                    <a href="#">
                      <i class="fab fa-instagram"></i>
                  </a>
                </li>
                <li>
                    <a href="#">
                      <i class="fab fa-facebook-f"></i>
                  </a>
                </li>
                </ul>
              </div>
            </div>
            <div class="footer_container_cols">
              <div class="footer-widget">
                <h2 class="footer_widget_heading">Privacy</h2>
                <ul class="privacy_policy">
                  <li>
                    <a href="#">About Us</a>
                  </li>
                  <li>
                    <a href="#">Contact Us</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="footer_container_cols">
              <div class="footer-widget">
                <h2 class="footer_widget_heading">
                  Talk to us
                </h2>
                <div class="talk_to_us">
                  <ul class="talk_to_us_container">
                    <li>
                      <span class="icon">
                          <i class="fas fa-mobile-alt"></i>
                      </span>
                      <span class="icon-text">+234-802-2334-556</span>
                    </li>
                    <li>
                      <a href="#">
                        <span class="icon"><i class="fas fa-envelope"></i></span>
                        <span class="icon-text">us@you.everybody.com</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>
</div>